nav.prj {
     width: 100%;
     padding: 1.5rem;
     background-color: var(--black);
     color: var(--white);
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav.prj *{
     cursor: pointer;
}

nav.prj p{
     font-size: 2rem;
     color: var(--white);
     font-family: 'Press Start 2P', monospace;
}

nav.prj span.bckBtn {
     font-family: "VT323", monospace;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: all 0.1s ease;
     padding: 1rem;
     color: var(--white);
}

nav.prj span.bckBtn p {
     font-size: 1.2rem;
}

nav.prj span.bckBtn i {
     font-size: 1.2rem;
     padding: 0 2rem;
     transition: all 0.3s ease;
     transform: translateX(2rem);
     color: transparent;
}


     nav.prj span:hover {
          background-color: var(--white);
          color: var(--black);
     }

     nav.prj span:hover p{
          color: var(--black);
     }

     nav.prj span:hover i{
          transform: translateX(0rem);
          color: var(--black);
     }

.wrapper{
     width: 100%;
     height: calc(100vh - 6.4rem); 
     overflow-y: hidden;
     padding: 2rem;
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(4, 1fr);
     background-color: var(--white);
     color: var(--black);
}

header.prj {
     margin: 1rem;
     position: relative;
     grid-row: 1/4;
     grid-column: 1/3;
     background-image: url(https://picsum.photos/1440/1024); /* Change by JS */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: var(--shadow-white);
     transition: all 0.3s ease;
}

header.prj:hover{
     background-size: contain;
     animation: head-hover 0.8s linear infinite;
}

header.prj:hover .project-image-buttons{
     display: none;
}

.project-image-buttons{
     bottom: 0;
     position: absolute;
     width: 100%;
     display: flex;
     align-items: flex-end;
     justify-content: end;
     gap: 1rem;
     padding: 1.5rem;
     background-color: transparent;
     transition: all 0.3s ease;
}

.project-image-buttons span {
     width: 3rem;
     height: 3rem;
     color: var(--white);
     font-size: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.p-1 {
     background-color: var(--red);
     animation: btns-start-red 2s forwards;
}

     .p-1:hover {
          border: 0.6rem solid var(--red);
          background-color: transparent;
     }

.p-2 {
     background-color: var(--green);
     animation: btns-start-green 2s forwards;
}

     .p-2:hover {
          border: 0.6rem solid var(--green);
          background-color: transparent;
     }

.p-3 {
     background-color: var(--blue);
     animation: btns-start-blue 2s forwards;
}

     .p-3:hover {
          border: 0.6rem solid var(--blue);
          background-color: transparent;
     }

@keyframes head-hover {
     0%{
          box-shadow: 0 0 0 0.5rem var(--black);
     }
     49%{
          box-shadow: 0 0 0 0.5rem var(--black);
     }
     50%{
          box-shadow: 0 0 0 0.5rem var(--white);
     }
     99%{
          box-shadow: 0 0 0 0.5rem var(--white);
     }
     100%{
          box-shadow: 0 0 0 0.5rem var(--black);
     }
}

@keyframes image-zoom {
     0%{
          background-size: cover;
     }
     100%{
          background-size: contain;
     }
}

aside{
     grid-row: 1/5;
     grid-column: 3/4;
     padding: 1rem;
}

aside h1{
     font-family: 'Press Start 2P', monospace;
     font-size: 3rem;
     padding: 1rem;
}

aside p {
     font-family: "VT323", monospace;
     font-size: 1.5rem;
}

main.prj {
     grid-row: 4/5;
     grid-column: 1/3;
}

main.prj ul {
     width: 100%;
     list-style: none;
     display: flex;
     flex-direction: row;
}

main.prj ul li {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 0.5rem;
     margin: 1rem;
     color: var(--white);
     padding: 0.5rem;
     width: 4rem;
     height: 4rem;
     transition: all 0.3s ease;
     cursor: pointer;
}

main.prj ul li:hover p {
     display: block;
     animation: appear 0.8s  ease forwards ;
}

@keyframes appear{
     0%{
          transform: translateX(-3rem);
          color: transparent;
     }
     100%{
          color: var(--white);
          transform: translateX(0rem);
     }
}

.github {
     background-color: var(--black);
}

     .github:hover {
          width: 10rem;
     }

.link {
     background-color: var(--red);
}

     .link:hover{
          width: 15rem;
     } 

.download {
     background-color: var(--blue);
}

     .download:hover {
          width: 15rem;
     }

.docs {
     background-color: var(--green);
}

     .docs:hover {
          width: 17rem;
     }


main.prj ul li p{
     font-size: 1.5rem;
     font-family: "VT323", monospace;
     display: none;
     transform: translateX(-3rem);
     padding: 0 0 0 1rem;
     transition: all 0.3s ease;
}

main.prj ul li i{
     font-size: 2.5rem;
}

section.stats {
     grid-row: 3/5;
     grid-column: 3/4;
     transition: all 0.3s ease;
     padding: 1rem;
     box-shadow: 0 0.2rem 0.2rem 0.2rem var(--black);
     transform: translateY(-0.5rem);
}

section.stats:hover {
     box-shadow: 0 0.5rem 0.5rem 0.5rem var(--black);
}

section.stats h2 {
     font-size: 3.8rem;
     font-family: "VT323", monospace;
     padding: 0 0 1rem 1rem;
}

section.stats div {
     display: flex;
     flex-direction: column;
     padding: 2rem 0;
}

section div span {
     font-family: "VT323", monospace;
     display: grid;
     grid-template-columns: 1fr 2fr;
     /* display: flex;
     flex-direction: row;
     justify-content: space-between; */
     padding: 0.5rem;
}

section div span *{
     font-size: 2rem;
}

section div span p.head {
     font-weight: 1000;
     font-size: 2.3rem;
}

@media (max-width: 992px) {
     nav.prj{
          position: fixed;
          top: 0;
     }

     .wrapper{
          margin-top: 6.4rem;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          overflow-x: hidden;
     }

     header.prj {
          width: 100%;
          min-height: 50vh;
     }
}