* {
     margin: 0;
     padding: 0;
     font-size: 10px;
     box-sizing: border-box;

     --black: #282828;
     --shadow-black: #616161;
     --white: #eee;
     --pure-white: #fff;
     --shadow-white: #b9b9b9;
     --red: #C40D0D;
     --shadow-red: #fb8484;
     --blue: #0052CE;
     --shadow-blue: #8484fb;
     --green: #00D916;
     --shadow-green: #84fb84;

}


 /* { HEADER } */


header {
     background-color: var(--white);
     width: 100%;
     height: 100vh;
}

.header-buttons {
     padding: 2rem;
     display: flex;
     width: 100%;
     gap: 2rem;
}

.upper-buttons {
     justify-content: flex-end;
}

.gbtn {
     width: 2.6rem;
     height: 2.6rem;
     transition: all 0.3s ease;
}

.u-1 {
     background-color: var(--red);
     animation: btns-start-red 2s forwards;
}

     .u-1:hover {
          border: 0.6rem solid var(--red);
          background-color: transparent;
     }

.u-2 {
     background-color: var(--green);
     animation: btns-start-green 2s forwards;
}

     .u-2:hover {
          border: 0.6rem solid var(--green);
          background-color: transparent;
     }

.u-3 {
     background-color: var(--blue);
     animation: btns-start-blue 2s forwards;
}

     .u-3:hover {
          border: 0.6rem solid var(--blue);
          background-color: transparent;
     }

.title {
     height: calc(100% - 13.2rem);
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Press Start 2P', monospace;
}

.title p{
     padding: 2rem;
     font-size: 6rem;
     animation: title-start 3s forwards;
}

     .title p:hover{
          background-color: var(--black);
          color: var(--white);
     }

.lower-buttons {
     justify-content: flex-start;
}

.lower-buttons span{
     background-color: var(--black);
     animation: btns-start-lower 2s forwards linear;
}

     .lower-buttons span:hover{
          border: 0.6rem solid var(--black);
          background-color: transparent;
     }

@keyframes title-start {
     0%{
          background-color: var(--black);
          color: var(--white);
     }

     12.5%{
          background-color: var(--white);
          color: var(--black);
     }

     25%{
          background-color: var(--black);
          color: var(--white);
     }

     37.5%{
          background-color: var(--white);
          color: var(--black);
     }

     50%{
          background-color: var(--black);
          color: var(--white);
     }

     62.5% {
          background-color: var(--white);
          color: var(--black);
     }

     75% {
          background-color: var(--black);
          color: var(--white);
     }

     87.5% {
          background-color: transparent;
          color: var(--black);
     }

     100%{
          background-color: transparent;
          color: var(--black);
     }
}

@keyframes btns-start-lower {
     0% {
          box-shadow: 0 0 0.5rem 0.3rem var(--shadow-black);
     }

     100% {
          box-shadow: none;
     }
}

@keyframes btns-start-red {
     0% {
          box-shadow: 0 0 0.5rem 0.3rem var(--shadow-red);
     }

     100% {
          box-shadow: none;
     }
}

@keyframes btns-start-blue {
     0% {
          box-shadow: 0 0 0.5rem 0.3rem var(--shadow-blue);
     }

     100% {
          box-shadow: none;
     }
}

@keyframes btns-start-green {
     0% {
          box-shadow: 0 0 0.5rem 0.3rem var(--shadow-green);
     }

     100% {
          box-shadow: none;
     }
}

 /* { NAVIGATION } */


nav {
     position: sticky;
     top: 0;
     z-index: 100;
     width: 100%;
     background-color: var(--black);
     padding: 1rem;
     display: flex;
     justify-content: space-between;
} 

nav p {
     font-family: "VT323", monospace;
     font-size: 3rem;
     margin: 0 2rem;
     color: var(--white);
}

.search-bar {
     border: 0.1rem solid var(--white);
     width: 20%;
     margin-right: 2%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

.search-bar input {
     height: 100%;
     width: 85%;
     color: var(--white);
     font-family: "VT323", monospace;
     font-size: 1.5rem;
     padding: 0.6rem;
     outline: none;
     border: none;
     background-color: transparent;
     transition: all 0.3s ease;
}
     .search-bar:hover {
          background-color: var(--white);
          color: var(--black);
     }

     .search-bar:active {
          background-color: var(--white);
          color: var(--black);
     }

.search-bar button {
     width: 15%;
     height: 100%;
     background-color: var(--black);
     color: var(--white);
}

 /* { MAIN } */

main {
     width: 100%;
     padding: 5%;
     display: grid;
     justify-content: center;
     gap: 4rem;
     grid-template-columns: repeat( auto-fit, 35rem);
     background-color: var(--white);
}

.project {
     position: relative;
     cursor: pointer;
     height: 27rem;
     width: 35rem;
     display: flex;
     flex-direction: column;
     transition: all 0.1s ease;
}

     .project:hover{
          translate: 0.1rem -1rem;
          box-shadow:  0 0 0.4rem 0.4rem var(--shadow-white);
     }

     .project:hover .project-image{
          filter: blur(0.15rem);
     }

     .project:hover .project-title{
          animation: project-hover 1s linear infinite;
     }

     .project:hover .project-buttons{
          display: flex;
     }

.project-image {
     width: 100%;
     background-color: #BBB;
     height: 80%;
     background-image: url(https://www.liquidplanner.com/wp-content/uploads/2019/04/HiRes-17.jpg); /*Change by JS */
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain; /*Change by JS */
}

.project-buttons{
     bottom: 20%;
     position: absolute;
     width: 100%;
     display: none;
     align-items: flex-end;
     justify-content: end;
     gap: 1rem;
     padding: 1.5rem;
     background-color: transparent;
}

.project-buttons button {
     width: 3rem;
     height: 3rem;
     color: var(--white);
     font-size: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

     .project-buttons button:hover {
          border: 0.1rem solid var(--white);
     }

     .project-buttons button:active {
          transform: translateY(0.1rem);
     }

.project-buttons button:nth-of-type(1){
     background-color: var(--black);
}

.project-buttons button:nth-of-type(2){
     background-color: var(--red);
}

.project-title {
     text-align: center;
     width: 100%;
     background-color: var(--black);
     height: 20%;
     padding: 1rem;
     color: var(--white);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     font-family: 'Press Start 2P', monospace;
}

@keyframes project-hover {
     0%{
          background-color: var(--white);
          color: var(--black);
     }
     49%{
          background-color: var(--white);
          color: var(--black);
     }
     50%{
          background-color: var(--black);
          color: var(--white);
     }
     99%{
          background-color: var(--black);
          color: var(--white);
     }
     100%{
          background-color: var(--white);
          color: var(--black);
     }
}

 /* { FOOTER } */

footer {
     height: 40vw;
     width: 100%;
     background-color: var(--black);
     color: var(--white);
     display: flex;
     flex-direction: column;
}

footer div {
     width: 100%;
     height: 90%;
     padding: 3rem 3rem 3rem 5rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

footer div .grid {
     width: fit-content;
     height: fit-content;
     display: grid;
     gap: 3rem;
     grid-template-columns: repeat(2, 5rem);
     grid-template-rows: repeat(2, 5rem);
}

footer div .grid span {
     width: 100%;
     height: 100%;
     background-color: var(--white);
     transition: all 0.3s ease;
}

     footer div .grid span:nth-of-type(1):hover{
          background-color: var(--red);
     }

     footer div .grid span:nth-of-type(2):hover{
          background-color: var(--blue);
     }

     footer div .grid span:nth-of-type(3):hover{
          background-color: var(--green);
     }

     footer div .grid span:nth-of-type(4):hover{
          background-color: var(--pure-white);
     }

footer div .para {
     width: fit-content;
     height: fit-content;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     font-family: 'Press Start 2P', monospace;
     transition: all 0.3s ease;
}

     footer div .para:hover{
          transform: scale(1.2);
     }

footer div .para p{
     font-size: 5rem;
     text-align: left;
     cursor: pointer;
}

footer small {
     width: 100%;
     height: 10%;
     padding: 4rem;
     display: flex;
     justify-content: flex-end;
     font-family: "VT323", monospace;
}